.cores{
  width: 500px;
  height: 500px;
  display: flex;
}

h2{
  align-items: center;

}

@media screen and (max-width: 420px){
  .cores{
    background-color: grey;
  }

  h2::before{
    content: 'cinza';
  }
}
@media screen and  (min-width:421px) and (max-width: 768px){
  .cores{
    background-color: rgb(255, 94, 0);
  }
  h2::before{
    content: 'laranja';
  }
}
@media screen and  (min-width: 769px) and (max-width: 1024px){
  .cores{
    background-color: #ef6a80;
  }
  h2::before{
    content: 'rosa';
  }
}
@media screen and (min-width: 1025px) and (max-width: 1080px){
  .cores{
    background-color: red;
  }
  h2::before{
    content: 'vermelho';
  }
}
@media screen and (min-width: 1081px) and (max-width: 1366px){
  .cores{
    background-color: purple;
  }
  h2::before{
    content: 'roxo';
  }
}
@media screen and (min-width: 1367px) and (max-width: 1920px){
  .cores{
    background-color: yellow;
  }
  h2::before{
    content: 'amarelo';
  }
}

@media screen and (min-width: 1921px){
  .cores{
    background-color: green;
  }
  h2::before{
    content: 'verde';
  }
}
